# https://macimproved.wordpress.com/2010/01/04/fix-page-updown-home-end-in-terminal/

"\e[5~": history-search-backward
"\e[6~": history-search-forward

"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word